.in-basket-product{
    display: flex;
    max-width: 300px;
    justify-content: space-evenly;
    align-items: center;
    border: 2px;
}

.show-product-button{
    display: block;
    width: 32px;
    height: 32px;
    background-image: url('../images/system/eye.png');
}

.delete-button{
    display: block;
    width: 32px;
    height: 32px;
    background-image: url('../images/system/cross.png');
}